//fonctions
//permet de créer une fonction en sass
@mixin inputBeautify($radius,$border, $font){

  -webkit-border-radius: $radius;
    border-radius: $radius;
    border: $border;
    font-family: $border;
    font-family: $font;

}
